name: Binary Build & Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to build (e.g: 0.0.1)'
        required: true
        type: string
  repository_dispatch:
    types: [package-published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies
        run: pnpm install

      - name: Get version
        id: get_version
        run: |
          if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
            VERSION="${{ github.event.client_payload.version }}"
          else
            VERSION="${{ github.event.inputs.version }}"
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "::notice::Building binary for version: $VERSION"

      - name: Build Binary (macOS)
        run: pnpm --filter "git-intent" pkg:build:macos

      - name: Create Checksum
        id: create_checksum
        run: |
          cd packages/cli/build
          ls -la
          cp git-intent-macos git-intent
          VERSION="${{ steps.get_version.outputs.version }}"
          tar -czf git-intent-$VERSION-darwin-amd64.tar.gz git-intent
          CHECKSUM=$(shasum -a 256 git-intent-$VERSION-darwin-amd64.tar.gz | awk '{print $1}')
          echo "checksum=$CHECKSUM" >> $GITHUB_OUTPUT
          echo "::notice::Binary checksum: $CHECKSUM"

      - name: Upload Binary to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION="${{ steps.get_version.outputs.version }}"
          gh release upload v$VERSION packages/cli/build/git-intent-$VERSION-darwin-amd64.tar.gz

      - name: Trigger Homebrew Update
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: trigger-homebrew-update
          client-payload: '{"version": "${{ steps.get_version.outputs.version }}", "sha256": "${{ steps.create_checksum.outputs.checksum }}"}'
